.auroramenu li > ul {
    display: none;
}

.auroramenu-default,
.auroramenu-default ul {
    padding: 0;
    list-style-type: none;
}

.auroramenu-default > li > a {
    border-bottom: 1px #ffffff solid;
}

/*.auroramenu-default > li > a:after {
    content:"▼";
    float: right;
    font-size: 0.7em;
}

.auroramenu-default > li > a.open:after {
    content:"▲";
}*/

.auroramenu-default a {
    color: rgba(105, 103, 99, 0.81);
    background-color:#fff;
    display: block;
    padding: 0px; /*Отступ между элементами меню*/
    transition: background-color 0.5s ease;
}

.auroramenu-default a:hover,
.auroramenu-default a:focus {
    text-decoration: none;
}

.auroramenu-default a:hover {
    color: rgba(14, 17, 30, 0.25);
}

.auroramenu-default ul a {
    color: rgba(5, 5, 12, 0.35);
    font-size: 0.9em;
    padding-left: 20px;
}