.auroramenu li > ul {
    display: none;
}

.auroramenu-default,
.auroramenu-default ul {
    padding: 0;
    list-style-type: none;
}

.auroramenu-default > li > a {
    border-bottom: 1px #ffffff solid;
}

/*.auroramenu-default > li > a:after {
    content:"▼";
    float: right;
    font-size: 0.7em;
}

.auroramenu-default > li > a.open:after {
    content:"▲";
}*/

.auroramenu-default a {
    color: #696763;
    background-color:#fff;
    display: block;
    padding: 0px; /*Отступ между элементами меню*/
    transition: background-color 0.5s ease;
}

.auroramenu-default a:hover,
.auroramenu-default a:focus {
    text-decoration: none;
}

.auroramenu-default a:hover {
    color: #696763;
}

.auroramenu-default ul a {
    color: #696763;
    font-size: 0.9em;
    padding-left: 20px;
}

/*
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #696763;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background:none;
    border-radius: 10px;
}*/
